
<div class ="mostrar">
<p>
  <b>Nombre:</b>
  <%= @dependencia.nombre %>
</p>

<p>
  <b>Tipo dependencia:</b>
  <%= @dependencia.tipo_dependencia %>
</p>
</div>

<%= link_to 'Editar', edit_dependencia_path(@dependencia), :id => "links" %> &nbsp
<%= link_to 'Regresar',:back, :id => "links" %>
