<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<div class ="mostrar">
<p>
  <b>Nombre:</b>
  <%= @area_conocimiento.nombre %>
</p>
</div>

<%= link_to 'Editar', edit_area_conocimiento_path(@area_conocimiento), :id => "links" %> &nbsp
<%= link_to 'Regresar', :back, :id => "links" %>
