<div class = "editar">
	<div class = "editar_titulo"><h1>Editar ejemplar</h1></div>

	<div class = "editar_opciones">
	<%= link_to 'Mostrar', @ejemplar, :id => "links" %> &nbsp
	<%= link_to 'Regresar', ejemplares_path, :id => "links" %>
	</div>
	<div class="clear"></div>
</div>

<div class = "formulario"><%= render 'form' %></div>
