<%= render(:partial => "layouts/login") %>

<table>

<% @horarios.each do |horario| %>
	  <tr>
		<td><%= sanitize(horario.titulo) %></td>
	  </tr>
	  <tr>
		<td><%= sanitize(horario.contenido) %></td>
	  </tr>
<% end %>

</table>

<%= will_paginate @horarios , :prev_label => "Anterior", :next_label => "Siguiente" %>
