<%= will_paginate @horarios , :prev_label => "Anterior", :next_label => "Siguiente" %>

 <table>


<% @horarios.each do |horario| %>
  <tr>
    <td><%= sanitize(horario.titulo) %></td></br>
    <td><%= sanitize(horario.contenido) %></td>
     </tr>
<% end %>
</table>

<br />
