<%= will_paginate @normativas , :prev_label => "Anterior", :next_label => "Siguiente" %>

 <table>


<% @normativas.each do |normativa| %>
  <tr>
    <td><%= sanitize(normativa.titulo) %></td></br>
    <td><%= sanitize(normativa.contenido) %></td>
     </tr>
<% end %>
</table>

<br />
