

<div class = "informacion">
<table>
<% @servicios.each do |servicio| %>
	  <tr>
		<td><%= sanitize(servicio.titulo) %></td>
	  </tr>
	  <tr>
		<td><%= sanitize(servicio.contenido) %></td>
	  </tr>
<% end %>
</table>
</div>
<%= will_paginate @servicios , :prev_label => "Anterior", :next_label => "Siguiente" %>
