<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class = "editar">
	<div class = "editar_titulo"><h1>Editar alquiler</h1></div>

	<div class = "editar_opciones">
	
	<%= link_to 'Regresar', :back, :id => "links" %>
	</div>
	<div class="clear"></div>
</div>

<div class = "formulario"><%= render 'form' %></div>
