
<div class = "editar">
	<div class = "editar_titulo"><h1>Confirmación de alquiler</h1></div>

	<div class = "editar_opciones">
	<%= link_to 'Regresar', alquileres_path, :id => "links" %>
	</div>
	<div class="clear"></div>
</div>

<div class = "formulario"><%= render 'form' %></div>
