/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Estilos de la aplicacion principal */

* 
{
  margin: 0;

  color:#555555;
}

html, body
{
  width:100%;
  height: 100%;
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
  
}


/* Inicio de listas de contenido */
a
{
  text-decoration:none;
}
a:hover
{
  text-decoration:underline;
}
ul
{
  list-style: none;
  margin:0;
  padding:0;
  font-size: 12px;
}

/* campos y botones */

input[type=text],input[type=number],input[type=password] {
   	margin-left: 0.5em;
  	border:#b2b2b2 solid 1px;
    font-size: 12px;
}
input[type=text],input[type=number]:active {
    border: 1px solid #b3b3b3;
	font-size: 12px;
}
input[type=submit] {
	font-size: 12px;
	border:0;
    background: #888888;
  	color:#ffffff;
  	height:25px;
  	border-radius: 5px;
	
}

input[type=submit]:hover {
    background: #777777;
    cursor:pointer;
	font-size: 12px;
}
.actions input { margin: 1em 0 0 13.5em;font-size: 12px; }
label {
    display: block;
    width: 150px;
    float: left;
    margin: 15px 4px 0px 4px;
    text-align: right;	
    font-size: 12px;
}
select, textarea, input[type=file], input[type=checkbox] {
  margin-left: 0.5em;  
  font-size: 12px;
}

.usuario{ color:#ffffff;line-height:25px; font-weight:bold;font-size: 12px;}

.usuario:hover{text-decoration:underline;cursor:pointer; }

.alerta
{
  background: #CCCCCC;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  padding: 5px 20px;
  font-size: 12px;
}

.notice
{
  background: #FFF6BF;
  border-top: 2px solid #FFD324;
  border-bottom: 2px solid #FFD324;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  padding: 5px 20px;
  font-size: 12px;
}

#error_explanation
{
  border: thin solid #8b0000;
  background: #ffc0cb;
}

.wrapper 
{
  min-height: 100%;
}


/* Inicio Menu */
.Menu
{
  font-size: 12px;
  z-index:0
  width: 100%;
  height: 35px;
}
#nav {  padding:0 30% 0 30%; margin:0; list-style:none; height:35px; position:relative; }
#nav li.top {float:left; height:35px;}
#nav li a.top_link {float:left; height:35px; line-height:40px; color:#ffffff; text-decoration:none; font-weight:bold; padding:0 20px 0 20px; cursor:pointer;/*background: #0070ba*/}
#nav li a#top_link {color:#acacac; background: #ffffff no-repeat; border-radius: 5px 5px 0 0;}
#nav li:hover a.top_link {color:#acacac; background: #ffffff no-repeat; border-radius: 5px 5px 0 0;}
#nav li:active a.top_link {color:#ffffff; background: #00508b no-repeat;}
/* Fin Menu */

/* Inicio Cabecera */
.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  height: 203px;
  background-image: url(bannersuperiordegradado.jpg);
  background-repeat:repeat-x;
}
	.logo
	{
	  background-image: url(logo.png);
	  float:left;
	  height: 150px;
	  width:173px;
	  margin:30px 0 0 40px;
	  position:absolute;	
	}
		.logo a
		{
		  height: 134px;
		  width:173px;
	  	  position:absolute;
		}
	.titulo_banner
	{
	  float:right;
	  padding: 30px 40px 0 0;
	}
		.titulo_banner p{
		  color:#ffffff;
		  font-size:18px;
		  font-weight:bold;
		  font-variant:small-caps;
		}
	.panel
	{
	  padding: 144px 40px 0 0;
	  text-align:right;
	}
	.panel #acceder
	{
	  border:0;
      background: #888888;
	  color:#ffffff;
      text-decoration:none;
  	  padding:5px;
  	  border-radius: 5px;
	  cursor:pointer;
	  font-size: 12px;
	}
	.panel span
	{
	  color:#ffffff;
	  font-size: 12px;
	}
	.panel a
	{
	  color:#ffffff;
	  text-decoration:none;
	  font-size: 12px;
	}
	.panel #acceder:hover
	{
	  background: #777777;
	}
	#csesion
	{
	  background:none;
	}
	#csesion:hover
	{
	  text-decoration:underline;
	}
/* Fin Cabecera */	

/* Inicio Contenido */
.Contenido
{
  margin: 50px 0 50px 250px;
  min-height:250px; 
  line-height:25px;
  text-align:justify;
  width:63%;
}
.Contenido_estud
{
  margin: 50px 0 50px 0;
  min-height:250px;  
  padding:0 0 0 40px; 
  font-size: 12px;
}
.Contenido_admin
{
  margin: 50px 0 50px 0;
  min-height:250px;
  padding:0 0 0 40px;
  font-size: 12px;
}
	.migas
	{
	  font-size: 12px;
	  font-weight:normal;
	  cursor:pointer;
	  margin-bottom:20px;
	}

	.informacion
	{
	  line-height:25px;
	  text-align:justify;
	  width:75%;	
	}
	.paginacion
	  {
		font-size: 12px;
		margin:5px;
		text-align:center; 
	  }
	
	.paginacion a
	{
	  background:#0070ba;
	  color:#ffffff;
	  text-decoration:none;
	  font-style:normal;
	  font-size:larger;
	  padding:3px;
	  border-radius: 3px;
	}
	.paginacion a:hover
	  {
		color:#333333;
	  }

	.pagination
	  {
		float: right;
	  }
	  .pagination li {
		 float: left;
		 background:#0070ba;
	 	 border-radius: 3px;
		 margin-right:2px;
		}
		.pagination a
		{
		  color:#ffffff;
		  padding:3px;
		  text-decoration:none;
		}
		.pagination a:hover
		  {
			color:#333333;
		  }

		.pagination span {
		  float: left;
		  margin:0 6px 0 6px;
		}

  	.busqueda {
      float:right;
  	}
	.campo_busqueda
	  {      
		font-size:16px;
	  }
	#buscar {
		float:left; 
		width:300px; 
		height:27px; 
		line-height:27px;
		text-indent:10px; 
		font-family:arial, sans-serif; 
		font-size:1em; 
		color:#333; 
		background: #fff; 
		border:solid 1px #d9d9d9; 
		border-top:solid 1px #c0c0c0; 
		border-right:none;
	}

	#btn_buscar{
	    cursor:pointer; 
		width:70px; 
		height: 31px; 
		line-height:0; 
		font-size:0; 
		text-indent:-999px;
		color: transparent;  
		background: url(ico-search.png) no-repeat #888888 center; 
		border: 1px solid #888888; 
		border-radius: 0 5px 5px 0; 
	}
	#btn_buscar:hover {
		background: url(ico-search.png) no-repeat #777777 center;  
	}
	.ui-autocomplete
	  {      
		background:#fafafa;
		border:1px dotted #77d;
		line-height:20px;
	  }
	.ui-menu-item
	  {      
		padding-left:10px;
	  }
	.ui-menu-item:focus
	  {      
		background:#ebf3ff;
		cursor:pointer;
		left: 0;
	  }
	.ui-menu-item:hover
	  {      
		background:#ebf3ff;
		cursor:pointer;
	  }

/* end LayoutCell */

/* Inicio accordion */

	#accordion
	{
	  width:200px;
	  margin:0 40px 0 0;
	  float:right;
	  font-size: 12px;
	}
	  #accordion div
	  {
	    padding:10px 0 0 15px;
	    color:#555555;
	  }
	  #accordion h3
	  {
	   padding:10px 0 0 15px;
	   background:#0070ba;
	   margin:1px;
	   font-size: 12px;
	  }
	  #accordion h3 a
	  { 
	   color:#ffffff;
	   line-height:20px;
	  }
	  #accordion a
	  {
	   text-decoration:none;
	   color:#555555;
	   line-height:20px;			
	  }
	  #accordion a:hover
	  {
	   text-decoration:underline;
	   color:#333333;			
	  }

/* begin Footer */

.Footer
{
  height:188px;
  background-image: url(bannerdeabajo.jpg);
  background-repeat:repeat-x;
}
.Footer-logo
{
  margin-top: 30px;
  margin-right: 50px;
  background-image: url(ucvlogo2.png);
  float:right;
  width:140px; 
  height: 112px; 
}
.Footer-text
{
  padding-top: 30px;
  padding-left: 50px;
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
  font-size: 12px;
  float:left;
}
.Footer-text li
{
  color:#ffffff;
}
.Footer ul 
{
  list-style:none; 
  float:left;
  border-left:white solid 1px;
  padding:0 40px 0 15px;
}
.Footer ul li:hover
{
  text-decoration: underline;
  cursor:pointer;
}
.Footer .nolink:hover
{
  text-decoration: none;
  cursor:none;
}
.Footer .link a
{
  color:#ffffff;
  text-decoration: none;
}
/* end Footer */

