// Place all the styles related to the ppal_admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	#lateral {
    float: left;
    width: 16em;
    background: #ffffff;
    /*border-right:1px dotted #77d;*/

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 

	}


	  .toplibros h3
	  {
	   padding:10px 0 0 15px;
	   background:#0070ba;
	   margin:1px;
	   font-size: 12px;
	  }
	  .toplibros h3 a
	  { 
	   color:#ffffff;
	   line-height:20px;
	  }
	  .toplibros a
	  {
	   text-decoration:none;
	   color:#555555;
	   line-height:20px;			
	  }
	  .toplibros a:hover
	  {
	   text-decoration:underline;
	   color:#333333;			
	  }
	
	  .torta
	  {
		width:49%;float:left;
	  }
	  .torta2
	  {
		width:60%;
	  }
