/* START_HIGHLIGHT */

  table .tabla_scaffold{
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }

  .list_description {
    width: 80%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #fafafa;
  }

  .list_line_odd {
    background:   #ebf3ff;
  }
.alquilar input[type=submit]{background:#ffffff;}
/* END_HIGHLIGHT */
