<div>
	<div>
		<%= image_tag( @pie_chart1, :class => "torta") %> 
	</div>
	<div>
		<%= image_tag( @pie_chart2, :class => "torta2") %>
	</div>
	<div>
		<%= image_tag( @pie_chart3, :class => "torta3") %>
	</div>
</div>
