<style>
		#accordion
		{
		  width:200px;
		  margin:0 40px 0 0;
		  float:right;
		}
		  #accordion div,h3
		  {
		    padding:10px 0 0 15px;
			color:#bcbcbc;
			
		  }
		  #accordion a
		  {
		   text-decoration:none;
		   color:#bcbcbc;			
		  }
		  #accordion a:hover
		  {
		   text-decoration:none;
		   color:#333333;			
		  }
	</style>
	<script>
	$(function() {
		$( "#accordion" ).accordion({
			fillSpace: true
		})
	});
	$(function() {
		$( "#accordionResizer" ).resizable({
			minHeight: 140,
			resize: function() {
				$( "#accordion" ).accordion( "resize" );
			}
		});
	});
	</script>





<div id="accordion">
	<h3><%= link_to "Inicio", ppal_estudiante_index_path, :class => "" %></h3>
	<div>
		<p>
		<%= link_to "Alquileres realizados", alquileres_path, :class => "" %>
		</p>
	</div>
	<h3><a href="#">Solicitudes</a></h3>
	<div>
		<ul>
            <li><a>Comprobante de alquiler</a></li>
			<li><a>Solvencias</a></li>
		</ul>
	</div>
</div>


				
					
				
