<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<div class ="mostrar">
<p>
  <b>Nombre:</b>
  <%= @editorial.nombre %>
</p>
</div>
<br />
<%= link_to 'Editar', edit_editorial_path(@editorial), :id => "links" %> &nbsp
<%= link_to 'Regresar', :back, :id => "links" %>
